<header>
    <div class="container">
      <div class="row">
        <div class="col-4 text-left">
                       <p><a class="btn btn-danger" href="/covid-19/" role="button">IMPORTANT INFORMATION! Bookings are now CLOSED due to the lockdown announced on 19th December.</a></p> 
<!--           <p><a class="btn btn-danger" href="/covid-19/" role="button">IMPORTANT INFORMATION! Bookings are now being taken for next week, from Monday 9th November when Welsh National lockdown ends!</a></p> -->
          <p><a class="btn btn-primary" href="https://vitfitcdf.as.me/" role="button">Book Now</a></p>
        </div>
        <div class="col-8 text-right">
          <p><i class="material-icons md-18">call</i> <a href="tel:+442920140069">(029) 2014 0069</a></p>
        </div>
      </div>
    </div>
</header>
