<header>
    <div class="container">
      <div class="row">
        <div class="col-4 text-left">
            
              <!--       <p><a class="btn btn-primary" href="/covid-19/" role="button">From 1st February 2021 I will be running video consultations.</a></p> -->
                 <!--     <p><a class="btn btn-primary" href="/covid-19/" role="button">In alignment with Welsh lockdown (20/12/20)</a></p> -->
      <!--    <p><a class="btn btn-primary" href="/covid-19/" role="button">From 1st February 2021 I will be running video consultations.</a></p> -->
              <p><a class="btn btn-primary" href="https://vitfitcdf.as.me/" role="button">Book Video Consultation</a> 
                 <a class="btn btn-primary" href="/contact" role="button">Urgent Appt. Request</a> 
              </p> 
           <!-- see our <a href="/prices">prices</a> 1-->
        </div>
        <div class="col-8 text-right">
          <p><i class="material-icons md-18">call</i> <a href="tel:+442920140069">(029) 2014 0069</a></p>
        </div>
      </div>
    </div>
</header>
