<div class="row">
    <div class="col-sm-4">
        <h5>The Health and Wellness Hub</h5>
        <p><addr>172 Merthyr Road<br>Cardiff<br>CF14 1DL</addr></p>
    </div>
 <!--   <div class="col-sm-4">
        <h5>Cyncoed Clinic</h5>
        <p><addr>7 Brynderwen Close<br>Cardiff<br>CF23 6BR</addr></p>
    </div> -->
    <div class="col-sm-4">
        <h5>Get in Touch</h5>
        <div><i class="material-icons md-18">call</i> <a href="tel:+442920140069">(029) 2014 0069</a></div>
        <div><i class="material-icons md-18">call</i> <a href="tel:+447904525169">(079) 0452 5169</a></div>
        <div><i class="material-icons md-18">email</i> <a href="mailto:donna@vitalityfitness.info">donna@vitalityfitness.info</div>
    </div>
</div>
